<div class="register-page">
    <div class="form">
        <form class="register-form">
            <p class="title">Créer un compte</p>
            <input type="text" placeholder="E-mail" />
            <input type="text" placeholder="Nom" />
            <input type="text" placeholder="Prénom" />
            <input type="password" placeholder="Mot de passe" />
            <input type="password" placeholder="Confirmer mot de passe" />
            <button>Créer</button>
            <p class="message">Déjà enregistré?<a [routerLink]="['/']">Se connecter</a></p>
        </form>
    </div>
</div>

