<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <p class="title">Bienvenue sur M#PEOPLE</p>
                <input type="text" placeholder="E-mail" />
                <input type="password" placeholder="mot de passe" />
                <button [routerLink]="['main']">Connexion</button>
                <p class="message">Pas encore enregistré? <a [routerLink]="['account-creation']">Créer un compte</a></p>
            </form>
        </div>
    </div>
</body>

